
/*
 * index_project tag
 */

project {
  margin: 2.0rem auto 0;
  position: relative;
  border: 5px solid #FFF;
  display: block;
  transition: border 0.6s ease-out;
}

project:hover {
  border-color: #777;
}

project:first-child {
  margin-top: 0;
}

project * {
  font-family: "Roboto", sans-serif;
}

project img.project_cover {
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  opacity: 1.0;
  transition: opacity 0.6s ease-out;
  display: block;
}

project:hover img.project_cover {
  opacity: 0.7;
}

project div.project_meta {
  width: auto;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  left: -1rem;
  bottom: 1rem;
  padding: 1rem 1.5rem 1rem 3rem;
  background-color: #FFF;
  transition: background-color 0.6s ease-out; 
}

project:hover div.project_meta {
  background-color: #666;
}

project div.project_meta h2,
project div.project_meta p {
  color: #333;
  transition: color 0.6s ease-out;
}

project:hover div.project_meta h2,
project:hover div.project_meta p {
  color: #FFF;
}

div.project_meta h2 {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding-bottom: 0.2rem;
}

div.project_meta p {
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
}

div.project_meta ul li {
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border: 1px solid #333;
  font-size: 0.7rem;
  font-family: "Roboto Slab", serif;
  background-color: #FFF;
  color: #333;
  margin-left: 0.3rem;
  transition: border 0.6s ease-out,
    color 0.6s ease-out;
}

project:hover div.project_meta ul li {
  border-color: #777;
  color: #666;
}

div.project_meta ul li:first-child {
  margin-left: 0;
}

/* for sp */
@media screen and (max-width: 640px) {
  project {
    border: 0;
    transition: opacity 0.6s ease-out;
  }

  project:focus, 
  project:hover, 
  project:active {
    opacity: 0.5;
  }

  project img.project_cover {
    opacity: 1.0;
  }

  project div.project_meta {
    position: relative;
    width: 100%;
    padding: 0;
    left: 0;
    bottom: 0;
  }
  project div.project_meta h2 {
    padding: 1rem 1rem 0.2rem;
  }
  project div.project_meta p {
    padding: 0 1rem 1rem;
  }
  project div.project_meta ul {
    display: none;
  }
}
