/* PROJECT PAGE */

div#project_wrapper {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  padding: 5.0rem 4.0rem 3.0rem;
  position: relative;
}
div#project_wrapper > * {
  margin-top: 2.0rem;
}
div#project_wrapper > *:first-child {
  margin-top: 0rem;
}
div#project_cover img,
div#project_gallery div {
  max-width: 800px;
  display: block;
  width: 100%;
  margin: 0 auto;
}
div#project_info {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.0rem;
}
div#project_info h3 {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
}
div#project_info h4 {
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.04rem;
  margin-top: 0.6rem;
}
div#project_info p {
  font-weight: 300;
  line-height: 190%;
  letter-spacing: 0.04rem;
  margin-top: 0.5rem;
}
div#project_info div#project_text p {
  text-indent: 0.8rem;
}
div#project_info div#project_text p.without_indent {
  text-indent: 0rem;
}
div#project_info p:first-child {
  margin-top: 1rem;
}
div#project_info a {
  color: #555;
  border-bottom: 2px solid #555;
  margin: -0.1rem -0.1rem -0.1rem;
  padding: 0.1rem 0.15rem 0.1rem;
  transition: background-color 0.3s ease-out,
    color 0.3s ease-out,
    border 0.3s ease-out;
}
div#project_info a:focus,
div#project_info a:hover,
div#project_info a:active {
  background-color: #888;
  color: #FFF;
}
div#project_info p.meta_info {
  text-align: right;
  font-size: 0.9rem;
  margin-top: 1.0rem;
}
div#project_gallery div {
  margin-top: 2.0rem;
}
div#project_gallery img {
  width: 100%;
  display: block;
}
div#project_gallery p {
  /*
  max-width: 800px;
  */
  margin: 0.3rem 0.5rem 0;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: right;
}

/* for sp */
@media screen and (max-width: 640px) {
  div#project_wrapper {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
  }
  div#project_info {
    padding: 0;
  }
}
