html,body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
}

div#wrapper {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  padding: 6.0rem 36px;
  position: relative;
  background-color: #ADADAD;
}

header, footer {
  position: fixed;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

header h1 a, footer p a {
  display: inline-block;
  padding: 0.7rem 24px;
  height: auto;
  overflow: hidden;
  transition: background-color 0.6s ease-out;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #FFF;
}

header h1 a:focus, footer p a:focus,
header h1 a:hover, footer p a:hover,
header h1 a:active, footer p a:active {
  background-color: #888;
}

header {
  top: 0.8rem;
  left: 0;
}

footer {
  bottom: 0.8rem;
  right: 0;
}

header h1 a {
  padding-left: 48px;
}

footer p a {
  padding-right: 48px;
}

header h1 a span {
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-right: 1rem;
}

/* [TODO] do something about the width */
div#main {
}

div.project {
  width: 80%;
  max-width: 640px;
  margin: 3rem auto 0;
  position: relative;
  border: 5px solid #39A;
}

div.project:first-child {
  margin-top: 0;
}

div.project * {
  font-family: "Roboto", sans-serif;
}

div.project img.project_cover {
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  opacity: 0.2;
  transition: opacity 0.6s ease-out;
  display: block;
}

div.project:hover img.project_cover {
  opacity: 1.0;
}

div.project div.project_meta {
  width: auto;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  left: -1rem;
  bottom: 1rem;
  padding: 1rem 1.5rem 1rem 3rem;
  background-color: #4AB;
}

div.project_meta * {
  color: #FFF;
}

div.project_meta h2 {
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 0.08rem;
  padding-bottom: 0.2rem;
}

div.project_meta p {
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 150%;
}

div.project_meta ul li {
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.1rem 0.4rem;
  background-color: white;
  font-family: "Roboto Slab", serif;
  color: #4AB;
}

/* for sp */
@media screen and (max-width: 600px) {
  header h1 a, footer p a {
    background-color: #777;
    font-size: 0.8rem;
    opacity: 0.8;
    transition: opacity 0.6s ease-out;
  }

  header h1 a:focus, footer p a:focus, 
  header h1 a:hover, footer p a:hover, 
  header h1 a:active, footer p a:active {
    background-color: #777;
    opacity: 1.0;
  }

  div.project {
    width: 100%;
    border: 0;
    transition: opacity 0.6s ease-out;
  }

  div.project:focus, 
  div.project:hover, 
  div.project:active {
    opacity: 0.5;
  }

  div.project img.project_cover {
    opacity: 1.0;
  }

  div.project div.project_meta {
    position: relative;
    width: 100%;
    padding: 0;
    left: 0;
    bottom: 0;
  }
  div.project div.project_meta h2 {
    padding: 1rem 1rem 0.2rem;
  }
  div.project div.project_meta p {
    padding: 0 1rem 1rem;
  }
  div.project div.project_meta ul {
    display: none;
  }
}

@keyframes NameHoverIn {
  from {
    letter-spacing: 1.5px;
  }
  to {
    letter-spacing: 3.0px;
  }
}

@keyframes NameHoverOut {
  from {
    letter-spacing: 3.0px;
  }
  to {
    letter-spacing: 1.5px;
  }
}
